<div class="title">
    <h1>{{ isTextAddorUpdate }} Mascota</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
    <mat-card>
        <form [formGroup]="form" (ngSubmit)="addUpdatePet()">
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile [colspan]="2">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input formControlName="name" matInput autocapitalize="off"
                                placeholder="Escribe el nombre...">
                        </mat-form-field>
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Raza</mat-label>
                            <input formControlName="breed" matInput autocapitalize="off"
                                placeholder="Escribe el nombre...">
                        </mat-form-field>
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Color</mat-label>
                            <input formControlName="color" matInput autocapitalize="off"
                                placeholder="Escribe el nombre...">
                        </mat-form-field>
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Edad</mat-label>
                            <input type="number" formControlName="age" matInput autocapitalize="off"
                                placeholder="Escribe el nombre...">
                        </mat-form-field>
                    </p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Peso</mat-label>
                            <input type="number" formControlName="weight" matInput autocapitalize="off"
                                placeholder="Escribe el nombre...">
                        </mat-form-field>
                    </p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <button [disabled]="form.invalid" type="submit" class="acceptBtn" mat-raised-button
                        color="primary">Aceptar</button>
                    <button mat-raised-button routerLink="/listpet">Volver</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>

    </mat-card>
</div>