html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
    padding: 30px;
    background-color: #3f51b5;
    text-align: center;
    color: white;
}

.container {
    margin: 0 20%
}

td,
td {
    width: 15%;

}